/*
  Nota: si no usas el navbar, el siguiente código
  no es necesario
*/

head {
    padding-top: 70px;
    background-color: bisque;
    color: rgb(101, 6, 6);
}
body {
    padding-top: 70px;
    background-color: rgb(242, 211, 173);
    color: rgb(159, 8, 8);
}
